
Mathias/SE/*
Mathias/DB/.recommenders/*
Mathias/DB/.metadata/*
Mathias/DB/RemoteSystemsTempFiles/*
Mathias/DB/JDBC-Test/.settings/*
Mathias/Mathe/.metadata/*
Mathias/Mathe/.recommenders/*
Mathias/Mathe/Bonusaufgaben1/doc/*
Mathias/Mathe/Bonusaufgaben1/.settings/*
Mathias/ProgII/build*




*.class
*.classpath
*.project
*.pro
*.user
